<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta charset="UTF-8"/>
    <title>Список товаров</title>
    <style>
        table, th, td {
            padding: 10px;
            font-style: italic;
            font-size: 30px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
<script>
    fetch("/get").then(
        res => {
            res.json().then(
                data => {
                    console.log(data);
                    if (data.length > 0) {

                        var temp = "";
                        data.forEach((itemData) => {
                            temp += "<tr>";
                            temp += "<td>" + itemData.id + "</td>";
                            temp += "<td>" + itemData.productName + "</td>";
                            temp += "<td>" + itemData.productPrice + "</td></tr>";
                        });
                        document.getElementById('data').innerHTML = temp;
                    }
                }
            )
        }
    )

    function sendPost() {
        let payload = {
            productName: document.getElementById('NewProductName').value,
            productPrice: document.getElementById('NewProductPrice').value
        };

        fetch("/post",
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(function (res) {
                return res.json();
            })
            .then(() => {
                window.location.reload();
            })
    }
</script>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product name</th>
            <th>Product price</th>
        </tr>
        </thead>
        <tbody id="data">
        </tbody>
        <tr>
            <td>id</td>
            <td>
                <label for="NewProductName"></label><input id="NewProductName" type="text" size="40">
            </td>
            <td>
                <label for="NewProductPrice"></label><input id="NewProductPrice" type="number" size="40">
            </td>
        </tr>
    </table>
</div>
<div>
    <button id="the-button" onclick="sendPost()">Add a new product</button>
</div>
</body>
</html>